%indented {
  margin-left: 2em;

  @include above(mobile) {
    margin-left: 4rem;
  }
}

.resume {
  margin: 2em;

  @include above(mobile) {
    margin: 4rem;
  }

  @include breakpoint(min-width 980px) {
    margin: 4rem auto;
  }

  max-width: 90rem;
}

.person {
  margin-bottom: 3rem;
  .name {
    font-size: 3rem;
    text-decoration: underline;
  }

  .location {
    font-size: 2rem;
  }
}

.education {

  .name {
    font-weight: bold;
  }

  .location {
    display: inline;
  }

  .honors {
    margin: 2rem 0;
    ul {
      margin: 0 2rem;
    }
  }
}

.experience {

}

.job {
  margin-bottom: 2rem;
  border-bottom: 1px solid black;

  .company,
  .title {
    font-weight: bold;
  }
}

.technologies {
  margin: 1rem 2rem;
}

.technologies-list {
  li {
    line-height: 1.2;
    display: inline-block;
    margin-right: 0.5rem;

    .tech {
      display: inline-block;
    }

    &:after {
      content: ", ";
    }
    &:last-child {
      margin-right: 0;
      &:after {
        content: "";
      }
    }
  }
}


.date-range {
  float: right;
}

.projects {
  margin-top: 2rem;
  clear: both;
}

.projects-heading {
  margin-bottom: 1rem;
}

.project {
  @include above(mobile) {
    margin-left: 4rem;
    &:before {
      float: left;
      content: "-";
      font-weight: bold;
      margin-left: -2rem;
    }
  }
}

